<form #LoginForm="ngForm" >
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Email</label>
      <input
      email
      required
      ngModel
      #EmailLog="ngModel"
      name="EmailInput"
      type="text"
      class="form-control mb-2"
      id="inlineFormInput"
      placeholder="Email"
      >
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Password</label>
      <input
      required
      ngModel
      #PasswordLog="ngModel"
      name="PasswordInput"
      type="password"
      class="form-control mb-2"
      id="inlineFormInput"
      placeholder="Password"
      >
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input
        required
        ngModel
        #UsernameLog="ngModel"
        name="UsernameInput"
        type="text"
        class="form-control"
        id="inlineFormInputGroup"
        placeholder="Username"
        >
      </div>
    </div>
  </div>
  <button (click)="Login(LoginForm)" class="btn btn-primary">LogIn</button>
</form>
<small class="form-text text-muted">--If you don't have an Account then you should-- <a [routerLink]="['signin']">SignIn</a> !</small>
<div *ngIf="problemBool" class="alert alert-danger">Sorry, there is a problem. <strong>Please Try Again</strong></div>
<div></div>
<router-outlet ></router-outlet>
